/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html {
      box-sizing: border-box;
}
*, *::before, *::after {
      box-sizing: inherit;
}
body {
    font-family: 'Lato';
    font-style: normal; 
    font-size: 16px;
    line-height: normal;
    color: #102746; 
}
img {
    max-width: 100%;
    height: auto;
}
.wrapper {
      max-width: 1060px;
      margin: 0 auto;
}
.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}
.section-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section-title::after {
    display: block;
    content: ' ';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Heder style start */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_wrepper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
}
.header_item {
    margin-right: 82px;
}
.header_item:last-child {
    margin-right: 0;
}
.header-link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header-link:hover, .header-link:focus, .header-link:active {
    opacity: .75;
}

/* Heder style end */

/* intro style start */
.intro {
    min-height: 100vh;
    background: url(../img/intro.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}
.intro_title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}
.intro-subtitle {
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}
.intro-subtitle {
    display: flex;
    flex-wrap: wrap;
}
.search_form_field {
    width: 297px;
    padding-left: 43px;
    background: transparent url('../img/svg/Oval.svg') no-repeat left top;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color:white;
}
.search_form_field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color:white;
}
.search_form_submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: #187DFF;
    border: 0;
}
.search_form_submit:hover, .search_form_submit:focus, .search_form_submit:active {
    background: #0c57b9;
}
/* intro style end */

/* benefits style start */

.benefits { 
    margin-bottom: 131px;
}
.benefits_wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.benefits_title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}
.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
.benefits_card {
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefits_card_pic {
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits_card_thumb {
    display: block;
}
.benefits_card_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits_card_desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits_card_more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url('../img/svg/arrow.svg') no-repeat 95% center;
    transition: .2s all;
}
.benefits_card_more:hover, .benefits_card_more:focus {
    background: url('../img/svg/arrow.svg') no-repeat right center;
}
/* benefits style end */

/* Places style start */

.places_caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.places_title {
    margin-right: 15px;
}
.places_view-all {
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url('../img/svg/arrow.svg') no-repeat right center;
}
.places_view-all:hover, .places_view-all:focus {
    opacity: .65;
}
.places_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

/* Places style end */
