.container {
    max-width: 980px;
    padding: 60px;
    margin: 0 auto;
}
.photo-grid clearfix {
    position: relative;
    top: 160px;
    padding: 10px;
    text-align: center;
}
img {
    position: relative;
    height: 172px;
    background: white;
    box-shadow: 0 0 5px black;
    float: left;
    padding: 10px;
    z-index: 2;
}
img:nth-child(even) {
    transform: translateX(10px) rotate(8deg);
}
img:nth-child(odd) {
    transform: translate(40px, 30px) rotate(-5deg);
}
img:nth-child(3n) {
    transform: translate(7px, 40px) rotate(-15deg);
}
img:nth-child(5n) {
    left: 5px;
    top: -20px;
}
img:nth-child(6n) {
    transform: translate(-10px, 30px) rotate(15deg);
}
img:nth-child(9n) {
    transform: translate(-10px, 30px) rotate(22deg);
}
img:hover {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.6);
    transform: rotate(360deg) scale(1.5, 1.5);
    z-index: 10;
}