#footer {
    display: flex;
    justify-content: flex-start;
    width: 1200px;
    margin: 0 auto;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1200px;
    height: 660px;
    background: #f2f5f9;
    border-top:  1px solid #d9e1ec;
    border-bottom: 1px solid #d9e1ec;
    margin: 0 auto;
}
.block {
    display: flex;
    justify-content: flex-start;
}
.block:not(:nth-child(5)) {
    border-bottom: 2px solid #feba02;
}
.one-one, .two-one, .three-one, .five-one {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 300px;
    height: 100px;
    color: #779bca;
    font-size: 25px;
}
.four-one {
    width: 300px;
    height: 250px;
    color: #779bca;
    font-size: 25px;
    padding-left: 10px;
}
.four-two {
    display: flex;
    flex-direction: column;
}
.four-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}
.three-two, .one-two, .two-two, .four-two, .five-two {
    width: 900px;
    font-size: 20px;
}
.content-three-two {
    display: flex;
    flex-wrap: wrap;
}
a {
    color:#0896ff;
}
.hover:hover {
    background-color: green;
    color: white; 
    outline: 2px solid rgb(2, 63, 2);
}
.footer a {
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    margin: 0 auto;
}
.one-two, .two-two, .three-two, .five-two {
    display: flex;
    align-items: center;
}