table {
    width: 700px;
    margin: auto;
    border-collapse: collapse;
    overflow: hidden;
}
td,th {
    border: 1px solid rgba(1, 1, 36, 0.4);
    position: relative;
    padding-left: 10px
}    

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(4, 4, 90, 0.4);
    text-shadow: 3px 1px 1px  rgb(86, 2, 163);
}

td:hover::after {
    content: '' ;
    position: absolute;
    height: 2000vh;
    left: 0;
    top: -1000vh;
    width: 100%;
    z-index: -1;
}

td:hover::after, tr:hover {
    background-color:rgba(140, 140,255, 0.4);
}

thead tr{
    background-color:  rgb(120, 19, 214);
    font-weight: bold;
}

th:first-of-type{
    background-color:  rgb(142, 69, 209);
    font-weight: normal;
    text-align: left;
}

thead tr, th:first-of-type {
    color: white;
}