td, th {
    border-radius: 5px;
    width: 120px;
    padding: 15px;
}
thead tr:first-of-type {
    background: linear-gradient(to top, #8af004,#6ab623);
    color: white;
}
th:first-of-type {
    background: linear-gradient(45deg, #8af004,#6ab623);
    color: white;
}
table {
    empty-cells: hide;
    text-align: center;
    margin: auto;
    width: 600px;
}
td {
    background-color: #bbe781;
}