.block_1 {
    position: relative;
    width: 800px;
    height: 75px;
    border: 2px solid green;
    border-radius: 5px;
    background: #BFE8C3;
}
.block_2 {
    position: relative;
    top: 20px;
    left: 30px;
    width: 22px;
    height: 30px;
    background-image: url('./img/lock.png');
}
.block_3 {
    position: fixed;
    top: 10px;
    left: 100px;
    width: 650px;
    height: 70px;
    line-height: 10px;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.block_4 {
    position: absolute;
    right: 15px;
    width: 22px;
    height: 20px;
    background-image: url('./img/close.png');
}